server/venv
./server/venv
/server/venv
server/script.py
./server/script.py
/server/script.py
server/.idea
./server/.idea
/server/.idea
server/flask/.env
./server/flask/.env
/server/flask/.env
server/flask/routes/__pycache__
./server/flask/routes/__pycache__
/server/flask/routes/__pycache__
server/flask/util/__pycache__
./server/flask/util/__pycache__
/server/flask/util/__pycache__
client/node_modules
./client/node_modules
/client/node_modules
client/.env
./client/.env
/client/.env
